* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
}

header {
  background-color: #e0e0e0;
  color: gray;
  text-align: center;
  padding: 10px;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
}

header h3,
header p {
  margin: 30px;
}

main {
  margin: 9vh 10px 10vh; /* Adjusted to accommodate fixed header and footer */
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 3fr 1fr; /* 2:1 ratio */
  grid-gap: 25px; /* optional: adds gap between the columns */
}

/* Style for main-content */
#main-content {
  background-color: #e0e0e0; /* Light Gray */
  padding: 40px;
  border-radius: 5px; /* Optional: Rounded Corners */
}

#main-content img,
#side-content img {
  max-width: 100%;
  height: auto;
}
#main-content > div,
#main-content > section {
  margin-bottom: 40px; /* Adjust the value as needed */
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.content-second {
  display: grid;
  grid-gap: 20px;
}

.content-last {
  display: flex;
  gap: 20px;
}

.content-last > div {
  flex: 1; /* flex-grow: 1, flex-shrink: 1, flex-basis: 0; */
}

.content-first {
  background-color: #f2f2f2;
  padding: 33px;
  max-width: 100%;
  height: auto;
  display: grid;
}

.content-first > div:not(:first-child):not(:last-child) {
  overflow: hidden; /* in case the text is too long */
  border-bottom: 1px solid lightblue;
}

/* Style for side-content */
#side-content {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 5px; /* Optional: Rounded Corners */
  display: grid;
  grid-template-rows: 1fr 2fr 1fr; /* 1:2:1 ratio */
  justify-content: center;
  align-items: center;
  height: auto;
}

#side-content h1,
#side-content p {
  margin-bottom: 40px;
}

#side-content button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.side-paragraph {
  background-color: pink;
  padding: 30px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  height: 10vh;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1024px) {
  /* Hide header p tags */
  header p {
    display: none;
  }

  /* Reorder main and side content */
  main {
    grid-template-columns: 1fr; /* Single column layout */
  }

  /* Use 'order' to rearrange items. Smaller numbers come first. */
  #main-content {
    order: 1; /* this will come second */
  }

  #side-content {
    order: 2; /* this will come first */
  }
}

@media (max-width: 768px) {
  /* Hide header p tags */
  header p {
    display: none;
  }

  /* Reorder main and side content */
  main {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .main-section {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .content-second {
    display: flex;
    flex-direction: column;
  }

  .content-last {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Use 'order' to rearrange items. Smaller numbers come first. */
  #main-content {
    order: 1; /* this will come second */
  }

  #side-content {
    order: 2; /* this will come first */
  }
}
